doctype html
html(lang="ru")
  - title = "Фронтенд-разработчик Дмитрий Безуглый | Резюме"
  include blocks/head/head

  body
    main.main
      .container
        h1 Фронтенд-разработчик Дмитрий Безуглый
        .text-wrapper
          p Верстаю по стандартам HTML5. Адаптивно и кроссбраузерно. Пишу по BEM, использую Jade. Люблю Bootstrap — чаще всего беру код модального окна, редко использую полностью — не подходит по задачам.
          p Пишу стили на Sass и Less. Конечно, использую PostCSS.
          p Использую Jquery, постепенно перехожу на чистый JS.
          p Автоматизирую процессы с помощью Gulp. Пользуюсь git и консолью.
          p Верстаю макеты из Adobe Photoshop, Adobe Illustrator и Adobe InDesign. Пару раз использовал Sketch.
          p Создавал лендинги с нуля: проводил брифинг, интервью, рисовал дизайн и верстал. Работал с клиентами на результат, докручивал конверсию.
          p Ставлю сайты на Wordpress, изучал PHP по мере необходимости выполнения задач с вордпрессом.
          p Работаю по таймеру и веду учёт задач.

        h2 Работы
        h3 Последний проект:
        ul.text-wrapper.list
          li.list__item #[a(href="http://www.ppc.world") ppc.world] от #[a(href="http://elama.ru/") eLama.ru.] Сделал техническую часть с нуля: заверстал, запрограммировал, поставил на вордпресс.

        h3 Лендинги:
        ul.text-wrapper.list
          li.list__item #[a(href="http://lp.maximodul.ru") lp.maximodul.ru] — разработал лендинг целиком, следил за трафиком и конверсией, докручивал с апреля 2016 до июля. #[br] P.S. Онлайн-чат поставили после меня :)
          li.list__item #[a(href="http://www.magellanbarber.ru") magellanbarber.ru] — тоже разработал с нуля: брифинг клиента, интервью, прототип, дизайн, верстка, программирование.
          li.list__item #[a(href="http://www.nl-school.ru") nl-school.ru] — тоже с нуля. Один из первых проектов.

        h2 А ещё
        .text-wrapper
          p Вел в #[a(href="http://www.ifmo.ru/ru/") Университете ИТМО] курс по вёрстке для студентов 4 курса.

        h2 Контакты
        ul.text-wrapper.list
          li.list__item Мобильный: +7 931 354 10 57
          li.list__item Почта: d.e.bezugly@gmail.com
          li.list__item ВКонтакте: #[a(href="https://new.vk.com/shalfey41") shalfey41]
